.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  
  .characts {
    list-style: none;
    gap: 8px;
    composes: wrapper;
  }
  
  .title {
    width: 640px;
    text-align: center;
  }
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:#F2F2F3
  }