.header {
    background-color: rgba(28, 28, 33, 1);
    margin: 0 auto;
	width: 100vw;
    
}

.nav {
    display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 0 auto;
    max-width: 1280px;
}

.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
    text-decoration: none;
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin: 0 288px 0 auto;
}

