.constructor {
  width: 600px;
  margin: 0;
}

.filings {
  overflow-y: scroll;
  list-style-type: none;
  max-height: 480px;
}

.price {
    margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.list {
    display: flex;
  justify-content: space-between;
  align-items: center;
}
